h1 {text-align: center;}

#img-caption{
  text-align: center;
}
#image{
  max-width: 30%;
  flex: auto;
  display: block;
  vertical-align: middle;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
